# Python
__pycache__/
*.py[cod]
*.egg-info/

# PyInstaller build outputs
build/
dist/
build_onedir/
dist_onedir/
sidecar_dist/
*.spec

# Node
node_modules/

# MCNP runtime files
*.runtpe
*.runtpf
*.runtpg
*.runtph

# OS
Thumbs.db
.DS_Store

# IDE
.vscode/
.idea/
